#optimize-label{
    position: absolute;
    margin-top: 9%;
    margin-left: 7%;
}


.file-upload-wrapper {
    margin-left: 8%;
    width: 18%;
    top: 10px;
    position: relative;
}


.file-upload-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 20%;
    height: 100%;
    cursor: pointer;
}

.file-upload-label{
    font-weight: bold;
    font-size: x-large;
    border-bottom: 2px solid black;
}



/* Hover effect */
.file-upload-label:hover {
    cursor: pointer;
}


.upload-icon {
    margin-left: 3px;
    margin-top: 28px;
    width: 36px; /* Adjust size as needed */
    height: 36px;
}


.enterRates {
    width: 100%;
    margin-top: 10%;
    margin-left: 8%;
    border-radius: 8px;
    max-width: 84%;
    line-height: 150%;
  }

.form-group {
    margin-bottom:1.6%;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px; /* Space between grid items */
  }
  
.form-group label {
    display: block;
    font-size: 15px;
    font-weight: bold;
  }
  
.form-group input {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    flex-direction: column; /* Stacks label and input vertically */
  }

input[type="text"].rates {
    background-color: rgba(206, 206, 206, 0.8);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%; /* Makes input fill its parent */
    max-width: 150px; 
}


.ratesSubmit{
    margin-top: 1%;
    left: 89%;
    background-color: #b0b0b0; /* Light grey background */
    color: #1c1c1c; /* Dark text color */
    border: none; /* Remove default border */
    border-radius: 40px; /* Round corners */
    padding: 12px 12px; /* Padding for size */
    font-size: 16px; /* Font size */
    font-weight: bolder; /* Bold text */
    text-align: center; /* Center text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
    outline: none; /* Remove outline on focus */
    position:relative;
}


/* Hover effect */
.ratesSubmit:hover {
    background-color: #9b9ea1; /* Darker grey on hover */
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow on hover */
}

.optimizePic{
    position: absolute;
    width: 42%;
    top:37%;
    margin-left: 7%;
}


#optDownload{
    margin-left: 60%;
    margin-top: 31.5%;
    cursor: pointer;
    border: none;
    background-color: rgb(0,0,0,0);
    width: 10px;
}

#optDownload .downloadIcon{
    width: 35px;
}
