#results-label{
    margin-top: 2.8%;
    margin-bottom: 1%;
}

.displayPic{
    width: 48%;
}

#pic2{
    margin-left: 3%;
}

  
.custom-button {
    margin-top:1%;
    background-color: #c7c7c7;
    color: #353535;
    border: none;
    border-radius: 25px;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}


#button2{
    margin-left: 3%;
    margin-right: 72.5%;
}

#download{
    cursor: pointer;
    border: none;
    background-color: rgb(0,0,0,0);
    width: 10px;
}

#download .downloadIcon{
    width: 35px;
}
