.circle-grid {
    position: relative;
    width: 700px;
    height: 450px;
    background-color: #87CEEB; /* Light blue background */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .circle {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .line {
    position: absolute;
    /* width: 100px;
    height: 4px; */
    background-color: black;
  }

  
  .info-box {
    position: absolute;
    top: 20%;
    right: 3%;
    background-color: #87CEEB;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 15px;
  }
  