.file-upload-wrapper {
    margin-left: 8%;
    margin-top: 0%;
    width: 18%;
    top: 12px;
    position: relative;
}


.file-upload-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 20%;
    height: 100%;
    cursor: pointer;
}

.file-upload-label{
    font-weight: bold;
    font-size: x-large;
    border-bottom: 2px solid black;
}



/* Hover effect */
.file-upload-label:hover {
    cursor: pointer;
}


.upload-icon {
    margin-left: 3px;
    margin-top: 28px;
    width: 36px; /* Adjust size as needed */
    height: 36px;
}